In [8]:
import numpy as np
import pandas as pd
import random
from random import sample

In [9]:
housing = pd.read_csv("housing.csv")

In [10]:
housing.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [11]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       506 non-null    float64
 1   B       506 non-null    float64
 2   C       506 non-null    float64
 3   D       506 non-null    float64
 4   E       506 non-null    float64
 5   F       506 non-null    float64
 6   G       506 non-null    float64
 7   H       506 non-null    float64
 8   I       506 non-null    int64
 9   J       506 non-null    float64
 10  K       506 non-null    float64
 11  L       506 non-null    float64
 12  M       506 non-null    float64
 13  N       452 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

In [12]:
housingsample2 = housing.sample(frac=0.8, replace=False, weights=None, random_state=1, axis=None)

In [13]:
writer=pd.ExcelWriter("housingsample2.xlsx")

writer=pd.ExcelWriter("Excel.xlsx")

wholesample.to_excel(writer,"first")    #first是第一张工作表名称

writer.save()

In [14]:
housingsample2.to_excel(writer, "first")
writer.save()