Create a table called order_products_prior, you should join orders_new table with order_products_new table, filter on eval_set = prior.

In [1]:
import numpy as np
import pandas as pd

In [2]:
orders_new = pd.read_csv('orders_new.csv')

In [3]:
order_products_new = pd.read_csv('order_products_new.csv')

In [4]:
new = pd.merge(orders_new, order_products_new, on = 'order_id')

In [5]:
new.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval_set,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,prior,196,1,0
1,2539329,1,1,2,8,0.0,prior,14084,2,0
2,2539329,1,1,2,8,0.0,prior,12427,3,0
3,2539329,1,1,2,8,0.0,prior,26088,4,0
4,2539329,1,1,2,8,0.0,prior,26405,5,0

In [6]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   eval_set                object
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
dtypes: float64(1), int64(8), object(1)
memory usage: 2.8+ GB

In [8]:
order_products_prior = new[new['eval_set'] == 'prior']

In [9]:
order_products_prior_csv = order_products_prior.to_csv('order_products_prior.csv', index=False)

In [10]:
pd.read_csv('order_products_prior.csv')

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,eval_set,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,prior,196,1,0
1,2539329,1,1,2,8,0.0,prior,14084,2,0
2,2539329,1,1,2,8,0.0,prior,12427,3,0
3,2539329,1,1,2,8,0.0,prior,26088,4,0
4,2539329,1,1,2,8,0.0,prior,26405,5,0
...,...,...,...,...,...,...,...,...,...,...
13307948,2977660,206209,13,1,12,7.0,prior,39216,4,0
13307949,2977660,206209,13,1,12,7.0,prior,38730,6,0
13307950,2977660,206209,13,1,12,7.0,prior,31477,7,0
13307951,2977660,206209,13,1,12,7.0,prior,6567,8,0
13307952,2977660,206209,13,1,12,7.0,prior,22920,9,0